.navbar{
  display: flex;
  align-content: center;
  justify-content: center;
}

.heading{
  align-content: center;
  justify-content: center;
}

.content{
  display: flex;
}

.right_side{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 50%;
  height: auto;
  min-height: 90vh;
  margin: 20px;
}

.left_side{
  display: flex;
  flex-direction: column;
  background-color: rgb(198, 34, 34);
  width: 50%;
  height: auto;
  min-height: 90vh;
  margin: 20px
}